*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	font-family: sans-serif;
}

body{
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

#quests-menu{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: .5rem;

	width: 50%;
	border: 1px #aaa solid;
  	padding: 2rem;
}

@media(max-width: 720px){
	#quests-menu{
		width: 90%;
		padding: 1rem;
	}
}

@media(max-width: 300px){
	#quests-menu{
		width: 100%;
	}
}

.button{
	font-size: 1rem;
	padding: .5rem;
	cursor: pointer;
}

#options-conteiner{
	display: flex;
	align-items: center;

	width: 100%;
}

.quests-buttons{
	width: 50%;
	color: #fff;
	background-color: #808080;
}

.quests-buttons:hover{
	opacity: .8;
}

#quests-conteiner{
	display: flex;
	align-items: center;
	justify-content: start;
	flex-direction: column;
	gap: 2rem;

	height: 60vh;
	overflow-y: auto;
}

#history-quests, #progress-quests{
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: column;
	gap: .4rem;

	padding: .5rem 1rem;

	visibility: hidden;
	opacity: 0;
}

#history-quests.active, #progress-quests.active{
	position: static;
	visibility: visible;
	opacity: 1;
}

.quest{
	display: flex;
	align-items: center;

	width: 100%;
	padding: .8rem;
	border: 1px #aaa solid;
	border-radius: 3%;

	cursor: pointer;
}

#progress-quests .quest{
	flex-direction: column;
	align-items: flex-start;
}

.quest:hover, .quest:hover .number-quest, .quest:hover div{
	color: #f00;
	border-color: #f00;
}

.number-quest{
	width: 30%;

	font-size: 1rem;
	border: none;

	cursor: pointer;
}

#close-quests-menu-button{
	font-size: 1.25rem;
	background-color: #a00;
	color: #fff;
	border: none;
}

#close-quests-menu-button:hover{
	background-color: #e00;
}